/* Benytter stjerne(*)-selector for å få dette som mal på alle sider */
*{
    font-family:Arial, Helvetica, sans-serif; /* Setter font til Arial */
    margin:0; /* Setter margin til 0 */
    padding:0; /* Setter padding til 0 */
    text-decoration:none; /* Fjerner understrek på lenker */
}
/* Globale styles START */
.grid-felles{ /* Benytter grid-bokser for å legge ting inn i rader og kolonner - siden dette gjøres ofte, lagde jeg en felles for å effektivisere kode */
    display: grid; /* Benytter grid-bokser for å legge ting inn i rader og kolonner */
    grid-template-columns: 1fr 1fr; /* Deler grid-containeren inn i to kolonner */
    grid-template-rows: 1fr; /* Deler grid i en rad */
    padding: 16px; /* Øker padding for mer mellomrom */
    text-align: center; /* Sentrerer teksten */
    line-height: 1.5; /* Endrer linjehøyde */
}
.grid-item-felles{ /* Oppretter en felles grid-item-gruppe, for å effektivisere kode og forhindre dublikater */
    line-height: 1.5; /* Endrer linjehøyde */
    text-align: center; /* Sentrerer teksten */
    font-size: 20px; /* Endrer tekststørrelsen */
    padding: 16px; /* Setter padding til 16px */
    
}

.grid-image {
    width: 100%; /* Gjør bredden til bildet 100% */
    max-width: 100%; /* Gjør max bredden til bildet 100% */
    height: auto; /* Bruker Auto for rett format */
    margin-bottom: 10px; /* Setter 10px mellomrom under bilde */
}

/* Globkale styles SLUTT */

.grid-container {
    display: grid; /* Bruker grid */
    grid-template-columns: 1fr 3fr; /* Deler grid-containeren inn i to kolonner, der den andre kolonnen er dobbelt så bred som den første for å gi plass til sidebar */
    grid-template-rows: 1fr; /* Endrer til en rad */
    padding: 16px; /* Setter padding til 16px */
    text-align: center; /* Sentrerer teksten */
    line-height: 1.5; /* Endrer linjeavstand */
}

.sidebar {
    background-color: #6D9DC5; /* Bakgrunnsfarge for sidebar */
    padding: 16px; /* Setter padding til 16px */
    border-radius: 10px; /* Avrundede hjørner for penere utseende */
    box-shadow: 0 0 10px rgba(30, 27, 27, 0.1); /* Legger til en subtil skyggeeffekt */
    
}

.sidebar > * {
    margin-bottom: 30px; /* Mellomrom mellom hvert element i sidebaren */
}

.sidebar a {
    color: black; /* Farge for lenker */
    font-weight: bold; /* Gjør teksten halvfet */
    font-size: 30px; /* Endrer tekststørrelse */
}

.sidebar a:hover {
    color: #ffffff; /* Endre fargen ved hover for å indikere interaktivitet */
}

.sidebar p {
    margin: 8px 0; /* Mindre avstand over og under avsnitt */
}


.sidebar img {
    max-width: 100%; /* Sørg for at bilder ikke overstiger bredden av parent container */
}

/*Endrer sidebar for når nettsiden er mindre enn 1024px*/
@media screen and (max-width: 1024px) {
    .sidebar {
        /* Flytt sidebar under main content */
        grid-column: 1; 
        grid-row: 1;  

        margin: 0px;
        padding: 30px 20px 0px 20px;
        border: 20px;
        background-color:rgb(255, 255, 255);
        box-shadow: none;
        position: relative;
        height: auto;
        overflow: auto;
        /*Benytter flex for å legge elementene på en horisontal linje og tar opp 80% av navbaren - slik at det er plass til logo*/
        display: flex;
        /*Plasserer elementene med lik avstand mellom seg*/
        justify-content: space-between;
        
      }
      .sidebar-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
      
      
      /*Skjuler headers, vanlige lenker og paragrafer*/
      .sidebar-lenke {display:none;}
      .sidebar h1 {display:none}
      .sidebar p {display: none;}
      .sidebar img {
        width: 90px;
        height: 90px;
        margin:auto;
        border:80px;
        border-radius:50%;
        border-width: 2px;
        border-style:solid;
        border-color: rgb(40, 40, 40);
        overflow:auto;
        box-shadow: 3px 3px 1px #ccc;
        -webkit-box-shadow: 0 8px 6px -6px #000;
        -moz-box-shadow: 0 8px 6px -6px #000;
    }
    .sidebar img:hover {
        animation: animasjon 1.8s ease-in-out infinite;
    }
    
}
/* Media query for mobil */
@media screen and (max-width: 534px) {
    .sidebar img {
        width: 55px;
        height: 55px;
        margin: auto;
    }
}
/* Media query for nettbrett stående */
@media screen and (max-width: 700px) {
    .grid-felles {
        grid-template-columns: 1fr;
    }
    .grid-container {
        grid-template-columns: 1fr; /* Endre til en kolonne når skjermbredden er under 768px */
    }
    .main-content {
        grid-column: 1; 
        grid-row: 2; /* Flytt main content over sidebar */
    }
}
/* Media query for nettbrett liggende */
@media screen and (min-width: 701px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr; /* Endre til en kolonne når skjermbredden er under 768px */
    }
    .main-content {
        grid-column: 1; 
        grid-row: 2; /* Flytt main content over sidebar */
    }
}



/* -------- Header: Navbar (felles for alle sider)  ---------------------*/
/* ------Responsivt design: Desktop 1200px -> 2000px er grunninnstilling ----- */
.navbar {
    /*Benytter flex for å legge elementene på en horisontal linje*/
    display: flex;

    /*To stk kolonner, der første kolonnenen er så bred som logoen, og andre kollonne fyller resten av plassen, alt sentreres i sin boks*/
    justify-content: space-between;
    align-items: center;

    /*Setter innvendig marg til å ha 14px på topp,  36px på høyre side*/
    padding: 14px 36px;

    /*Endrer navbaren sin høyde til å være 7% av skjermens synsfelt og posisjko*/
    height: 7vh;

    /*Posisjonerer navbaren i henhold til sin normale posisjon i dokumentstrømmen*/
    position: relative;

    /*Endrer bakgrunnsfarge på startside, samme farge som orginal logo */
    background-color: #6D9DC5;

    /*Endring av tekst: fet skrift, større skriftstørrelse og skygge*/
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*Logoen sin høyde til å være 80 px og bredde til automatisk*/
.logo img {
    height: 80px;
    width: auto;
}

.NavElementer {
    /*Benytter flex for å legge elementene på en horisontal linje og tar opp 80% av navbaren - slik at det er plass til logo*/
    display: flex;
    width: 80%;

    /*Plasserer elementene med lik avstand mellom seg*/
    justify-content: space-between;
}

.NavElementer a {
    /*Endrer farge på teksten i hvert element i navbar*/
    color: black;
}

.navbar a:hover {
    /*Benytter andre farger når man hovrer over linker for å øke kontrasten*/
    animation: animasjon 1.8s ease infinite;
}
@keyframes animasjon {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	0% {color: red}
    20% {color: turquoise}
    35% {transform: translateY(-30px);}
    40% {color: lime}
    60% {color: yellow;
        transform: translateY(-15px);}
    80% {color: magenta}
}

.navbar .logo:hover {
    /*Unngår å få bakgrunnsfargre når man hovrer over logo*/
    background-color: transparent;
}

/*Fjerner mobil-visning av navbar og oppretter at det skal være kolonner*/
.mobil-nav {
    display: none;
    flex-direction: column;
}

/*Fjerner hamburger-ikon på navbar ved stor-skjerm-oppløsning*/
.fa-bars {
    display: none;
    visibility: hidden;
}

/* ----- Responsiv design Navbar: Liten skjerm 1025-1999px ----- */
@media (max-width: 1999px) {
    .logo img {
        /*Setter høyden til logoen*/
        height: 60px;
    }

    .navbar {
        /*Endrer skriftstørrelse til 25px*/
        font-size: 25px;
    }
}

/* ----- Responsivt design for Navbar: Store skjermer 2000px --> ----- */
@media (min-width: 1999px) {
    /*Øker skriftstørrelse i navbar*/
    .navbar{
        font-size: 30px;
    }

    /*Øker størrelse på logo*/
    .logo img {
        height: 7vh;
    }
    .grid-item-innføringCampus-venstre{
        font-size: 2rem;
    }
    .grid-item-innføringCampus-høyre{
        font-size: 2rem;
    }
    
    .grid-item-knapp{
        font-size: 1.5rem;
    }

}

/* ----- Responsivt design for Navbar: Nettbrett liggende 769-1024px ----- */
@media (max-width: 1024px) {

    /*Viser hamburger-ikonet for mindre skjermer*/
    .fa-bars {
        display: inline-block;
        visibility: visible;
    }

    /*Fjerner standard navigasjonselementer for små skjermer*/
    .NavElementer {
        display: none;
    }

    /*Viser navbar for liten skjerm når den er aktiv*/
    .mobil-nav.active {
        display: flex;
    }

    /*Generelle stiler for navbaren for mindre skjermer*/
    .mobil-nav {
        /*Plassert i forhold til nærmeste posisjonerte forfader*/
        position: absolute;

        /*Plassering av menyen og setter bredde til 100% for å dekke hele*/
        top: 100%;
        left: 0%;
        width: 100%;

        /*Benytter samme farge som opprinnelig navbar*/
        background-color: #6D9DC5;

        /*Plasserer elementene i mobil-nav i midten*/
        align-items: center;

        /*Setter navbar over alt annet*/
        z-index: 1
    }

    /*Spesifikke stiler for lenker inni mobil navigasjon*/
    .mobil-nav .grid-meny-mobil a {
        /*Endrer farge på tekst*/
        color: black;
    }

    /*Setter opp grid-layout for mobilmenyen*/
    .grid-meny-mobil {
        /*Benytter flex-layout og legger dem i rader*/
        display: flex;
        flex-direction: column;

        /*Endring av mellomrom mellom radene, sentrerer tekst og øker skriftstørrelse*/
        row-gap: 40px;
        text-align: center;
        font-size: 30px;

        /*Øker utvendig marg på toppen, for å få mer luft*/
        margin-top: 20px;
    }

    .grid-meny-mobil a:hover {
        /*Lager en zoome-effekt når man hovrer over for økt lesbarhet*/
        font-size: 32px;
    }

    /*Stil for lukk-knapp i mobil navigasjon*/
    #lukkMeny {
        /*Endrer utvendig og innvendig marg*/
        margin: 30px;
        padding: 10px;

        /*Øker tekststørrelse*/
        font-size: 20px;
    }

    #lukkMeny:hover {
        /*For å øke kontrasten når man hovrer*/
        background-color: rgba(255, 255, 255, 0.3);
    }
}
/* ----- NAVBAR SLUTT ----- */

/* ----- TOPICAL FOOTER START ----- */
footer {
    display: flex;
    background-color: #6D9DC5;
    height: auto;
    color: black;
    text-align: left;
    align-items: center;
    padding: 20px;
}

footer p {
    margin: auto;
    text-align: center;
}

.some-logo {
    width:20px;
}

.icons{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}
.litteraturliste{
    margin-left: 20px;
}
/* ----- TOPICAL FOOTER SLUTT ----- */