*{
    font-family:Arial, Helvetica, sans-serif; /*Setter fonten til å være Courier New*/
    margin:0; /*Setter margin til 0*/
    padding:0; /*Setter padding til 0*/
    text-decoration:none; /*Fjerner understrek på lenker*/
}

body{
    background-color: #2d241b;
}

/*CSS FOR NAVBAR START*/
.navbar{
    display: flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    justify-content: space-between; /*To stk kolonner, der første kolonnenen er så bred som logoen, og andre kollonne fyller resten av plassen*/
    padding: 14px 36px; /*Setter innvendig marg til 14 px, og utvendig marg til 16px*/
    background-color: #ffdb01; /*Endrer bakgrunnsfarge på startside, samme farge som orginal logo */
    align-items: center; /*Denne justerer innholdet i navbar til å være sentrert vertikalt*/
    border-style:none; /*Setter border-style til none*/
    font-weight: bold; /*Setter font-weight til bold*/
    font-size: 20px; /*Setter font-size til 20px*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /*Legger til skygge på teksten*/
    height: 7vh; /*endrer navbaren sin høyde til å være 7% av skjermens synsfelt*/
}
/*Fjerner hamburger-ikon på navbar*/
.fa-bars{
    visibility: hidden;
}
.logo img{
    height: 80px; /*Setter høyden til logoen*/
    width: auto; /*Setter bredden til å være auto, slik at den tilpasser seg høyden*/
}
.NavElementer{
    display:flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    width: 75%; /*Setter bredden til 75% av siden*/
    justify-content: space-between;/*Plasserer elementene med lik avstand mellom seg*/
}
.NavElementer a{
    color: black; /*Farge på teksten i hvert element*/
}
.navbar a:hover{
    color: #555; /*Benytter andre farger når man hovrer over linker for å øke kontrasten*/
    background-color: rgba(255, 255, 255, 0.3); /* samme gjelder her for å øke kontrasten*/ 
}
/*CSS FOR NAVBAR SLUTT*/


/*Start på Datatorg-siden*/
.bakgrunn-intro-container-datatorget{
    background-image: url(../Media/Datatorget/Datatorget.jpg);/*Bilde tatt selv med mobiltelefonen*/
    background-position: center; /*vil plassere bildet i midten av elementet*/
    background-repeat: no-repeat; /*forhindrer bildet i å gjenta seg hvis det er for lite*/
    background-size: cover; /*forstørrer bildet for å dekke hele elementet*/
    height:100vh; /*setter høyden til 100 visual hight for å dekke hele skjermen*/
}

.IntroContainer-datatorget{
    color: white;/*Endrer farge på tekst til hvit for å øke kontraster*/
    background-color: rgba(0, 0, 0, 0.591); /*legger til en gjennomsniktig bakgrunn for å få frem konstraster*/
    height: 100vh; /*setter høyden til 100 visual hight for å dekke hele skjermen*/



        background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.introTekst{ /*1. tekstboks på introside*/
    /*Sentrerer teksten vertikalt*/
    align-items: center;

    /*Øker innvending marg*/
    padding: 5rem;

    /*Øker høyden i grid-boks*/
    height: 74vh;
}

.introBilde{ /*1.Bilde på introside*/
    width: 600px;  /*Endrer bredden*/
    height: auto; /*Setter høyde til auto, slik at bilde skal bli best mulig i forhold til bredde*/
    border: solid; /*Legger til en marg rundt bilde for å fremheve bilde*/
    border-color: #ffdb01; /*Benytter samme farge som navbar for å opprettholde kontrast og design*/
}

.grid-felles{ /*Benytter grid-bokser for å legge ting inn i rader og kolonner - siden dette gjøres ofte, lagde jeg en felles for å effektivisere kode*/
    display: grid; /*Benytter grid-bokser for å legge ting inn i rader og kolonner*/
    grid-template-columns: 1fr 1fr; /*Deler grid-containeren inn i to kolonner*/
    grid-template-rows: 1fr; /*Deler grid i en rad*/
    padding: 16px; /*Øker padding for mer mellomrom*/
    text-align: center; /*Sentrerer teksten*/
    line-height: 1.5; /*Endrer linjehøyde*/
    height: 600px;
}
.grid-item-felles{ /*Oppretter en felles grid-item-gruppe, for å effektivisere kode og forhindre dublikater*/
    /*Sentrerer teksten og skriftstørrelse for bedre lesbarhet*/
    text-align: center;
    font-size: 20px;
    /*Endrer innvendig marg for mer luft*/
    padding: 16px;
}

.grid-felles-2kol-1rad {
    /*Benytter grid-bokser for å legge ting inn i rader og kolonner - siden dette gjøres ofte, lagde jeg en felles for å effektivisere kode*/
    display: grid;

    /*Kolonner og rader: to kolonner og en rad*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media (min-width: 1999px) {
    .grid-item-felles{
        font-size: 2rem;
    }
    .grid-item-knapp{
        font-size: 1.5rem;
    }
}


@media (max-width: 1024px) {
    /* Gjør at alle grid-elementene stables vertikalt på mindre skjermer */
    .grid-felles-2kol-1rad {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    /*Endring av index.html START*/
    .responsiv-img-min426px {
        /*Endrer størrelse på bilde*/
        max-width: 400px;
    }
    /*Minker skriftstørrelse*/
    .grid-item-felles{
        font-size: 0.8rem;
    }
}

@media (max-width: 430px) {
    /*Endrer bredde på bilde slik at den blir responsiv for små skjermer*/
    .responsiv-img-min426px{
        width: 225px;
    }
    /*Minker skriftstørrelse*/
    .grid-item-felles{
        font-size: 14px;
    }
    .grid-item-felles{
        font-size: 0.5rem;
    }
    .CampusContainer{
        row-gap: 0.5rem;
    }
}


.introBilde{ /*1.Bilde på introside*/
    width: 600px;  /*Endrer bredden*/
    height: auto; /*Setter høyde til auto, slik at bilde skal bli best mulig i forhold til bredde*/
    border: solid; /*Legger til en marg rundt bilde for å fremheve bilde*/
    border-color: #ffdb01; /*Benytter samme farge som navbar for å opprettholde kontrast og design*/
}

.header{
    margin-top: 3%;
    color: rgb(0, 0, 0);
    text-align: center;
}

.Introside-bilde-responsiv{
    width: 90%;
    height: auto;
}


/* ALT UNDER ER MITT */

.bakgrunn-intro-container-datatorget{
    background-image: url(../Media/Datatorget/Datatorget.jpg);/*Bilde tatt selv med mobiltelefonen*/
    background-position: center; /*vil plassere bildet i midten av elementet*/
    background-repeat: no-repeat; /*forhindrer bildet i å gjenta seg hvis det er for lite*/
    background-size: cover; /*forstørrer bildet for å dekke hele elementet*/
    height:100vh; /*setter høyden til 100 visual hight for å dekke hele skjermen*/
}

.fasiliteterDatatorget{
    text-align: center; /*Sentrerer overskriften*/
    font-size: 30px; /*setter størelsen på teksten til 30px*/
    color: #ffd901; /*setter fargen til svart*/
    margin-top: 50px; /*legger til et mellomrom mellom introdelen og denne delen*/
}

.fasilitetstekst{ 
    text-align: center; /*sentrerer teksten*/
    font-size: 25px; /*setter størelsen til 25px*/
    color: #ffd901; /*setter fargen til svart*/
    padding-top: 10px; /*mellomrom mellom overskriften og teksten*/
}

.datatorgetflex{
    scroll-snap-type: y mandatory; /*koden kontrollerer scrollingen på siden som gjør at den "hopper" til bestemte plasser*/
    overflow-y: scroll; /*oppretter en vertikal rullefelt som en kreativ løsning på et slideshow*/
    height: 75vh; /*setter hver bokst til å være 75% av visual highten */
    margin: 5%; /*legger inn en margin rundt boksen*/
    margin-left: 10%; /*legger boksen mer mot midten*/
    margin-right: 10%; /*legger boksen mer mot midten*/
}

.section-fasiliteter{
    height:75vh; /*hver side i boksen er like stor som boksen selv*/
    scroll-snap-align: start; /*tvinger hver side til å "hoppe" ned eller opp 75%vh hver gang man scroller*/
}


.databilder{
    height: 65vh; /*setter bildene på boksen til å være 65vh*/
    border: solid; /*legger en border rundt bildene*/
    border-color: #000000; /*setter border fargen til svart*/
}

.databilder2{
    height: 65vh; /*setter bildene på boksen til å være 65vh*/
    border: solid; /*legger en border rundt bildene*/
    border-color: #ffd901; /*setter border fargen til svart*/
}

/*legger på unike farger per side i boksen*/
.datatorget1{
    background-color: #ffd901; 
}

.datatorget2{
    background-color: rgb(0, 0, 0);
}

.datatekst2{
    color: #ffd901;
}

.gradering{
    background-image: url(/HTML/Media/Datatorget/klasserom\ 1.jpg); /*bakgrunn for klasserom-siden. Bildet er tatt privat*/
    background-position: center; /*vil plassere bildet i midten av elementet*/
    background-repeat: no-repeat; /*forhindrer bildet i å gjenta seg hvis det er for lite*/
    background-size: cover; /*forstørrer bildet for å dekke hele elementet*/
    height:100vh; /*setter høyden på siden til 100& visual hight*/

}

/*Mobil 320-425px*/
@media (max-width: 425px){

    .databilder{
        max-height: 20vh;
    }

}

/*Nettbrett stående 426-768*/
@media (max-width: 768px){
    .grid-item-felles{
        font-size: 20px;
    }

    .databilder{
        max-height: 35vh;
    }

    .mindre-margin{
        padding: 0;
        margin: 0;
    }

}

/*Nettbrett liggende 769-1024*/
@media (max-width: 1024px) {
    .fa-bars{
        visibility:visible;
    }
    .NavElementer{
        visibility:hidden;
    }

    .databilder{
        max-height: 45vh;
    }

    .mindre-margin{
        padding: 0;
        margin: 0;
    }

}


@media (max-width: 1999px){

    .databilder{
        max-height: 45vh;
    }

    .grid-felles{
        height: 600px;
    }

}


/*ALT OVER HER ER MITT*/











/*FOOTER START*/
.grid-footer-container{
    display: grid; /*Oppretter grid*/
    background-color: #ffdb01; /*Endrer bakgrunnsfarge på footer*/
    grid-template-columns: 1fr 1fr 1fr; /*Deler grid-containeren inn i 3 kolonner som er like store*/
    padding: 15px; /*Øker padding for mer mellomrom*/
    font-size: 20px; /*Øker skriftstørrelse -> lettere å lese*/
    padding-top: 100px; /*Øker padding på toppen for å få mer mellomrom*/
    padding-bottom: 100px; /*Øker padding på bunnen for å få mer mellomrom*/
}
/*Style til tilbakemeldingsboksen*/
.tilbakemelding-textarea{
    width: 75%; /*Gir tekstområdet 75% bredde av grid-området*/
    padding: 10px; /*Legger til noe padding inne i tekstområdet*/
    margin-bottom: 10px; /*Legger til noe margin under tekstområdet*/
    border: 1px solid #ddd; /*Setter en grense rundt tekstområdet, grensen er solid, og har endret farge*/
    border-radius: 5px; /*Gjør hjørnene på tekstområdet til litt rundere*/
    font-size: 14px; /*endrer skriftstørrelse inne i boksen*/
}
.tilbakemelding-knapp{
    width: 30%; /*Gir knappen 30% bredde av grid-området*/
    padding: 10px; /*legger noe padding inne i knappen*/
    background-color: #007BFF; /*endrer bakgrunnsfarge på knappen*/
    color: white; /*Setter tekstfarge til knappen*/
    border: none; /*Fjerner grensen rundt knappen*/
    border-radius: 5px; /*Gjør hjørnene til knappen noe rundere*/
    font-size: 20px; /*Endrer til skriftstørrelse på knappen*/
}
/*Endrer effekter til knappen når musen er over den*/
.tilbakemelding-knapp:hover{
    background-color: #0056b3; /*Bytter bakgrunnsfarge*/
    cursor: pointer; /*Endrer musepeker til hånd*/
}

/*Style til linker til sosiale medier*/
.grid-footer-some{
    display: grid; /*Oppretter grid*/
    grid-template-columns: 1fr; /*Setter 1 kolonne*/
}
.inline-footer-some .fa{
    color: black;/*Endrer farge på symboler og tekst*/
}
.grid-footer-some .inline-footer-some{
    margin-bottom: 10px; /*Legger til margin på bunnen for å øke mellomrom*/
}
/*Endrer effekter til knappen når musen er over den*/
.fa:hover{
    text-decoration: underline; /*Teksten for underlinje*/
    color: rgb(255, 255, 255); /*Endrer farge på tekst*/
    background-color: rgba(0, 0, 0, 0.47); /*Endrer bakgrunnsfarge*/
    border-radius: 4px; /*Gjør hjørnene noe rundere*/
}
/*FOOTER SLUTT*/

/*Responsiv design*/
/*Mobil 320-425px*/
@media (max-width: 425px){

    .databilder{
        max-height: 35vh;
    }

}

/*Nettbrett stående 426-768*/
@media (max-width: 768px){
    .grid-item-felles{
        font-size: 20px;
    }

    .databilder{
        max-height: 40vh;
    }

}

/*Nettbrett liggende 769-1024*/
@media (max-width: 1024px) {
    .fa-bars{
        visibility:visible;
    }
    .NavElementer{
        visibility:hidden;
    }

    .databilder{
        height: 50vh;
    }

}

/*Liten skjerm 1025-1999*/
@media (max-width: 1999px){
    .logo img{
        height: 60px; /*Setter høyden til logoen*/
    }  
    .navbar{
        padding: 10px 30px; /*Setter innvendig marg til 14 px, og utvendig marg til 16px*/
        font-size: 18px; /*Setter font-size til 20px*/ 
    }
}

/*Desktop 1200 -> er grunninnstilling*/
@media (max-width: 769px) {
    .grid-footer-container {
        /*Benytter flex for å få de tidligere grid-boksene til å komme under hverandre*/
        display: flex;
        flex-direction: column;
    }
    
    .tilbakemelding-textarea {
        /*Endrer vidde på tekstboks og fjerner mulighet til å endre størrelse på den*/
        max-width: 70%;
        resize: none;
    }   
} 


/* ----- Responsiv design Navbar: Liten skjerm 1025-1999px ----- */
@media (max-width: 1999px) {
    .logo img {
        /*Setter høyden til logoen*/
        height: 60px;
    }

    .navbar {
        /*Endrer skriftstørrelse til 25px*/
        font-size: 25px;
    }
}

/* ----- Responsivt design for Navbar: Store skjermer 2000px --> ----- */
@media (min-width: 1999px) {
    /*Øker skriftstørrelse i navbar*/
    .navbar{
        font-size: 30px;
    }

    /*Øker størrelse på logo*/
    .logo img {
        height: 7vh;
    }
    .grid-item-innføringCampus-venstre{
        font-size: 2rem;
    }
    .grid-item-innføringCampus-høyre{
        font-size: 2rem;
    }
    
    .grid-item-knapp{
        font-size: 1.5rem;
    }

}

/* ----- Responsivt design for Navbar: Nettbrett liggende 769-1024px ----- */
@media (max-width: 1024px) {

    /*Viser hamburger-ikonet for mindre skjermer*/
    .fa-bars {
        display: inline-block;
        visibility: visible;
    }

    /*Fjerner standard navigasjonselementer for små skjermer*/
    .NavElementer {
        display: none;
    }

    /*Viser navbar for liten skjerm når den er aktiv*/
    .mobil-nav.active {
        display: flex;
    }

    /*Generelle stiler for navbaren for mindre skjermer*/
    .mobil-nav {
        /*Plassert i forhold til nærmeste posisjonerte forfader*/
        position: absolute;

        /*Plassering av menyen og setter bredde til 100% for å dekke hele*/
        top: 100%;
        left: 0%;
        width: 100%;

        /*Benytter samme farge som opprinnelig navbar*/
        background-color: #ffdb01;

        /*Plasserer elementene i mobil-nav i midten*/
        align-items: center;

        z-index: 1;
    }

    /*Spesifikke stiler for lenker inni mobil navigasjon*/
    .mobil-nav .grid-meny-mobil a {
        /*Endrer farge på tekst*/
        color: black;
    }

    /*Setter opp grid-layout for mobilmenyen*/
    .grid-meny-mobil {
        /*Benytter flex-layout og legger dem i rader*/
        display: flex;
        flex-direction: column;

        /*Endring av mellomrom mellom radene, sentrerer tekst og øker skriftstørrelse*/
        row-gap: 40px;
        text-align: center;
        font-size: 30px;

        /*Øker utvendig marg på toppen, for å få mer luft*/
        margin-top: 20px;
    }

    .grid-meny-mobil a:hover {
        /*Lager en zoome-effekt når man hovrer over for økt lesbarhet*/
        font-size: 32px;
    }

    /*Stil for lukk-knapp i mobil navigasjon*/
    #lukkMeny {
        /*Endrer utvendig og innvendig marg*/
        margin: 30px;
        padding: 10px;

        /*Øker tekststørrelse*/
        font-size: 20px;
    }

    #lukkMeny:hover {
        /*For å øke kontrasten når man hovrer*/
        background-color: rgba(255, 255, 255, 0.3);
    }
}

/* ----- Responsivt design for introside: Store skjermer 2000->3000px ----- */
@media (min-width: 1999px) {
    .grid-item-felles{
        font-size: 2rem;
    }
    .grid-item-knapp{
        font-size: 1.5rem;
    }
    .Introside-bilde-responsiv{
        width: 100%;
    }
}

/* ----- Responsiv design introside: Nettbrett liggende 769-1024px  ----- */
@media (max-width: 1024px) {
    /* Gjør at alle grid-elementene stables vertikalt på mindre skjermer */
    .grid-felles-2kol-1rad {
        display: flex;
        flex-direction: column;
    }
    .bakgrunn-intro-container{
        height: 110vh;
    }
    .IntroContainer{
        height: 110vh;
    }

    /*Øker mellomrom mellom bilde og tekst på intro- og campuscontainer*/
    .CampusContainer{
        row-gap: 5rem;
    }
    .introTekst{
        row-gap: 1rem;
        height: 70vh;
    }
    .Introside-bilde-responsiv{
        width: 50vh;
    }

    /*Oppnår full bredde på bildet alt="Bilde av P35 fra avstand med dammen"*/
    .grid-item-innføringCampus-venstre .responsive-img[src*="img-bilde-innføringcampus-høyre.jpeg"]{
        width: 100%;
    }

    /*Endrer rekkefølgen på bildene i flex-containeren for mindre skjermer fra og med 1024px bredde*/
    .InnføringCampusContainer img[alt="Hovedinngangen til bygning P52"] {
        order: 1;
    }

    .InnføringCampusContainer img[alt="Bilde av P35 fra avstand med dammen"] {
        order: 3;
    }

    /*Optimaliserer bildevisning for responivt deisgn*/ 
    .responsive-img {
        display: flex;
        object-fit: cover;
        max-width: 100%;
    }

    /*Endrer til flex-display*/
    .responsiv-img-1 {
        display: flex;
    }

    /*Fellesklasser for å endre styling*/
    /*Endrer utvendig marg på bunn*/
    .margin-bottom-100px {
        margin-bottom: 100px;
    }

    /*Endrer utvendig marg*/
    .grid-item-knapp {
        margin-top: 1rem; 
    }

    /*Endrer bakgrunnsfarge til hvit og svart tekst*/
    .bakgrunnsfarge-hvit-svart-tekst {
        color: black;
        background-color: white;
    }

    /*Skjuler elementer ved liten skjerm*/
    .Fjernes-ved-liten-skjerm {
        display: none;
    }

    /*Setter stil for responsive tekst med hvit farge, justert tekst, padding og en mørk bakgrunn*/
    .responsiv-tekst {
        display: grid;
        color: white;
        text-align: justify;
        padding: 15px;
        background-color: #150c4b;
        padding-bottom: 100px;
    }
}

/* ----- Responsiv design introside: Mindre nettbrett 431-768px -----*/
@media (max-width: 768px) {
    /*Endring av index.html START*/
    .responsiv-img-min426px {
        /*Endrer størrelse på bilde*/
        max-width: 20rem;
    }
    .introTekst{
        row-gap: 1rem;
        padding: 30px;
        height: 80vh;
    }

    /*Minker skriftstørrelse*/
    .grid-item-felles{
        font-size: 1rem;
    }
    .CampusContainer{
        padding: 30px;
        height: 70vh;
        row-gap: 0;
    }
    .Introside-bilde-responsiv{
        max-width: 20rem;
    }
}

/* ----- Responsiv design introside: Mobil 320-430px -----*/
@media (max-width: 430px) {
    /*Minker skriftstørrelse*/
    .introTekst{
        row-gap: 0.5rem;
        padding: 5px;
        height: 80vh;
    }
    .CampusContainer{
        row-gap: 0.5rem;
        padding: 10px;
        height: 80vh;
    }
    .Introside-bilde-responsiv{
        width: 34vh;
    }
    .bakgrunn-intro-container{
        height: 114vh;
    }
}