/* Benytter stjerne(*)-selector for å få dette som mal på alle sider*/
*{
    font-family:Arial, Helvetica, sans-serif; /*Setter font til Arial*/
    margin:0; /*Setter margin til 0*/
    padding:0; /*Setter padding til 0*/
    text-decoration:none; /*Fjerner understrek på lenker*/
}
/*Globale styles START*/
.grid-felles{
    display: grid; /*Benytter grid-bokser for å legge ting inn i rader og kolonner*/
    grid-template-columns: 1fr 1fr; /*Deler grid-containeren inn i to kolonner*/
    grid-template-rows: 1fr; /*Deler grid i en rad*/
    padding: 15px; /*Øker padding for mer mellomrom*/
    text-align: center; /*Sentrerer teksten*/
    line-height: 1.5; /*Endrer linjehøyde*/
}
/*Globkale styles SLUTT*/
/*CSS FOR NAVBAR START*/
.navbar{
    display: flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    justify-content: space-between; /*To stk kolonner, der første kolonnenen er så bred som logoen, og andre kollonne fyller resten av plassen*/
    padding: 14px 16px; /*Setter innvendig marg til 14 px, og utvendig marg til 16px*/
    background-color: #ffdb01; /*Endrer bakgrunnsfarge på startside, samme farge som orginal logo */
    align-items: center; /*Denne justerer innholdet i navbar til å være sentrert vertikalt*/
    border-style:none; /*Setter border-style til none*/
    font-weight: bold; /*Setter font-weight til bold*/
    font-size: 20px; /*Setter font-size til 20px*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /*Legger til skygge på teksten*/
}
.logo img{
    height: 80px; /*Setter høyden til logoen*/
    width: auto; /*Setter bredden til å være auto, slik at den tilpasser seg høyden*/
}
.NavElementer{
    display:flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    width: 50%; /*Setter bredden til 50% av siden*/
    justify-content: space-between;/*Plasserer elementene med lik avstand mellom seg*/
}
.NavElementer a{
    color: black; /*Farge på teksten i hvert element*/
}
.navbar a:hover{
    color: #555; /*Benytter andre farger når man hovrer over linker for å øke kontrasten*/
    background-color: rgba(255, 255, 255, 0.3); /* samme gjelder her for å øke kontrasten*/ 
}
/*CSS FOR NAVBAR SLUTT*/
/*CSS FOR INTROSIDE START*/
.OsloMetIntro{
    text-align: center; /*sentrerer teksten*/
    padding: 15px; /*Øker padding for mer mellomrom*/
    color: #ffdb01; /*Setter farge på tekst til å være samme gulfarge som navbar*/
    font-size: 50px; /*Endrer tekststørrelsen*/
}
#OsloMetBygg{
    height: auto; /*Setter høyde til auto, slik at bilde skal bli best mulig i forhold til bredde*/
    width: 100vw; /*Fyller hele viewportens bredde*/
}
.IntroContainer{
    background-color: #150c4b; /*Endrer bakgrunnsfarge på første del av introside*/
    color: white;/*Endrer farge på tekst til hvit for å øke kontraster*/
}
.introNavigasjon{
    display: grid; /*Benytter grid-bokser for å legge ting inn i rader og kolonner*/
    row-gap: 50px; /*Øker avstand mellom radene*/
    grid-template-columns:1fr 1fr; /*Deler grid-containeren inn i to kolonner som er like store*/
    grid-row: 1fr 1fr; /*Deler grid i to like rader*/
    width: 100vw; /*Fyller hele viewportens bredde*/
    text-align: center; /*sentrerer teksten i grid-boksene*/
}
.introTekst{ /*1. tekstboks på introside*/
    word-wrap: break-word; /*Tvinger teksten til å bryte, deretter legge neste ord på neste linje hvis den overstiger griden*/
    align-items: center; /*Sentrerer teksten vertikalt*/
    padding-top: 100px; /*Øker padding på toppen for å få mer mellomrom*/
    padding-bottom: 100px; /*Øker padding på bunnen for å få mer mellomrom*/
}
#ToStudenter{ /*1.Bilde på introside*/
width: 600px;  /*Endrer bredden*/
height: auto; /*Setter høyde til auto, slik at bilde skal bli best mulig i forhold til bredde*/
border: solid; /*Legger til en marg rundt bilde for å fremheve bilde*/
border-color: #ffdb01; /*Benytter samme farge som navbar for å opprettholde kontrast og design*/
}
.CampusContainer{ /*2. tekstboks på introside*/
    word-wrap: break-word; /*Tvinger teksten til å bryte, deretter legge neste ord på neste linje hvis den overstiger griden*/
    padding-top: 10px; /*Øker paddingen på toppen*/
    background-color: #54c7da; /*Endrer bakgrunnsfarge på andre del av introside*/
    align-items: center; /*Sentrerer teksten vertikalt*/
    padding-top: 100px; /*Øker padding på toppen for å få mer mellomrom*/
    padding-bottom: 100px; /*Øker padding på bunnen for å få mer mellomrom*/
}
#campusBilde{ /*2.bilde på introside*/
    width: 600px; /*Endrer bredden*/
    height: auto; /*Setter høyde til auto, slik at bilde skal bli best mulig i forhold til bredde*/
    border: solid; /*Legger til en marg rundt bilde for å fremheve bilde*/
    border-color: #150c4b; /*Benytter samme farge som bakgrunn over for å opprettholde kontrast og design*/
}
.InnføringCampusContainer{
    display: grid; /*Oppretter grid*/
    grid-template-columns: 1fr 1fr; /*Deler grid-containeren inn i to kolonner som er like store*/
    word-wrap: break-word; /*Tvinger teksten til å bryte, deretter legge neste ord på neste linje hvis den overstiger griden*/
}
.grid-item-innføringCampus{
    color: white; /*Setter farge på tekst til hvit for å øke kontraster*/
    font-size: 20px; /*Øker skriftstørrelse -> lettere å lese*/
    text-align:justify; /*Justerer teksten til å strekke seg jevnt mellom containeren sin venstre og høyre side*/
    line-height: 1.5; /*Endrer linjehøyde*/
    padding: 15px; /*Øker padding for mer mellomrom*/
    background-color: #150c4b; /*Endrer bakgrunnsfarge på andre del av introside*/
    padding-bottom: 100px; /*Øker padding på bunnen for å få mer mellomrom*/
}
.grid-img-innføringcampus{
    width: 100%; /*Endrer bredden til 100%*/
    height: 100%; /*Endrer høyde til 100%, slik at bildene blir like*/
    object-fit: cover; /*Fyller hele containeren med bilde*/
}
.grid-item-innføringCampus-skille{
    border-bottom:black; /*Setter farge på skillelinje*/
    border-bottom-style: solid; /*Setter stil på skillelinje*/
    border-bottom-width: 1px; /*Setter tykkelse på skillelinje*/
    margin: 0 50px; /*Øker margin for mer mellomrom*/
    padding: 0 50px; /*Øker padding for mer mellomrom*/
    margin-top: 100px; /*Øker margin på toppen for mer mellomrom*/
}
.grid-item-innføringCampus-høyre{
    color: black; /*Setter farge på tekst til svart for å øke kontraster*/
    background-color: white; /*Endrer bakgrunnsfarge på andre del av introside*/
    font-size: 20px; /*Øker skriftstørrelse -> lettere å lese*/
    text-align:justify; /*Justerer teksten til å strekke seg jevnt mellom containeren sin venstre og høyre side*/
    line-height: 1.5; /*Endrer linjehøyde*/
    padding: 15px; /*Øker padding for mer mellomrom*/
}
.grid-item-knapp{
    color: white; /*Setter farge på tekst til hvit for å øke kontraster*/
    font-size: 20px; /*Øker skriftstørrelse -> lettere å lese*/
    background-color: black; /*Endrer bakgrunnsfarge på linker, slik at det skal se ut som en knapp*/
    text-align: center; /*Sentrerer teksten*/
    display: inline-block; /*Gjør at knappen ikke tar hele linjen*/
    cursor: pointer; /*Endrer musepeker til hånd*/
    border-radius: 8px;
    border: none; /*Fjerner border*/
    padding: 10px 20px; /*Øker padding for mer mellomrom*/
    margin: 10px 2px; /*Øker margin for mer mellomrom*/
}
.grid-item-knapp:hover{
    background-color: #ffdb01; /*Endrer bakgrunnsfarge på linker, slik at det skal se ut som en knapp*/
    color: black; /*Setter farge på tekst til svart for å øke kontraster*/
    font-weight: bolder; /*Gjør teksten tykkere*/
}
/*INTROSIDE SLUTT*/
/*FOOTER START*/
.grid-footer-container{
    display: grid; /*Oppretter grid*/
    background-color: #ffdb01; /*Endrer bakgrunnsfarge på footer*/
    grid-template-columns: 1fr 1fr 1fr; /*Deler grid-containeren inn i 3 kolonner som er like store*/
    padding: 15px; /*Øker padding for mer mellomrom*/
    font-size: 20px; /*Øker skriftstørrelse -> lettere å lese*/
    padding-top: 100px; /*Øker padding på toppen for å få mer mellomrom*/
    padding-bottom: 100px; /*Øker padding på bunnen for å få mer mellomrom*/
}
.grid-item-footer{
    color: black; /*Setter farge på tekst til svart for å øke kontraster*/
    text-align: center; /*Sentrerer teksten*/
    line-height: 1.5; /*Endrer linjehøyde*/
}
/*FOOTER SLUTT*/

