/* Benytter stjerne(*)-selector for å få dette som mal på alle sider*/
*{
    font-family:'Courier New', Courier, monospace; /*Setter fonten til å være Courier New*/
    margin:0; /*Setter margin til 0*/
    padding:0; /*Setter padding til 0*/
    text-decoration:none; /*Fjerner understrek på lenker*/
}
/*CSS FOR NAVBAR START*/
.navbar{
    display: flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    justify-content: space-between; /*To stk kolonner, der første kolonnenen er så bred som logoen, og andre kollonne fyller resten av plassen*/
    padding: 14px 16px;
    align-items: center; /*Denne justerer innholdet i navbar til å være sentrert vertikalt*/
}
.logo img{
    height: 60px; /*Setter høyden til logoen*/
    width: auto; /*Setter bredden til å være auto, slik at den tilpasser seg høyden*/
}
.NavElementer{
    display:flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    width: 50%; /*Setter bredden til 50% av siden*/
    justify-content: space-between;/*Plasserer elementene med lik avstand mellom seg*/
}
.NavElementer a{
    color: black; /*Farge på teksten i hvert element*/
}/*CSS FOR NAVBAR SLUTT*/
/*CSS FOR INTROSIDE START*/
.førsteContainer{
    background-color: aqua; /*Endrer bakgrunnsfarge på første del av introside*/
}
.introNavigasjon{
    display: grid; /*Benytter grid-bokser for å legge ting inn i rader og kolonner*/
    row-gap: 50px; /*Øker avstand mellom radene*/
    grid-template-columns:1fr 1fr; /*Deler grid-containeren inn i to kolonner som er like store*/
    grid-row: 1fr 1fr; /*Deler grid i to like rader*/
    width: 100vw; /*Fyller hele viewportens bredde*/
    text-align: center; /*sentrerer teksten i grid-boksene*/
}
.introTekst{
    display: grid;
}