/* Globale stiler for hele nettsiden */
*{
    font-family:Arial, Helvetica, sans-serif; /*Setter font til Arial*/
    margin:0; /*Nullstiller margin*/
    padding:0; /*Nullstiller padding*/
    text-decoration: none; /*Fjerner understrek på lenker*/
}

/*Felles-klasser*/
.grid-felles{ /*Benytter grid-bokser for å legge ting inn i rader og kolonner - siden dette gjøres ofte, lagde jeg en felles for å effektivisere kode*/
    display: grid; /*Benytter grid-bokser for å legge ting inn i rader og kolonner*/
    grid-template-columns: 1fr 1fr; /*Deler grid-containeren inn i to kolonner*/
    grid-template-rows: 1fr; /*Deler grid i en rad*/
    padding: 16px; /*Øker padding for mer mellomrom*/
    text-align: center; /*Sentrerer teksten*/
    line-height: 1.5; /*Endrer linjehøyde*/
}
.grid-item-felles{ /*Oppretter en felles grid-item-gruppe, for å effektivisere kode og forhindre dublikater*/
    line-height: 1.5; /*Endrer linjehøyde*/
    text-align: center; /*Sentrerer teksten*/
    font-size: 20px; /*Endrer tekststørrelsen*/
    padding: 16px;
}
/*Globkale styles SLUTT*/

/*Desktop 1200px -> er grunninnstilling*/
/*CSS FOR NAVBAR START*/
.navbar{
    display: flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    justify-content: space-between; /*To stk kolonner, der første kolonnenen er så bred som logoen, og andre kollonne fyller resten av plassen*/
    padding: 14px 36px; /*Setter innvendig marg til å ha 14px på topp,  36px på høyre side*/ 
    background-color: #ffdb01; /*Endrer bakgrunnsfarge på startside, samme farge som orginal logo */
    align-items: center; /*Denne justerer innholdet i navbar til å være sentrert vertikalt*/
    border-style:none; /*Setter border-style til none*/
    font-weight: bold; /*Setter font-weight til bold*/
    font-size: 20px; /*Setter font-size til 20px*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /*Legger til skygge på teksten*/
    height: 7vh; /*endrer navbaren sin høyde til å være 7% av skjermens synsfelt*/
    position: relative; 
}
.logo img{
    height: 80px; /*Setter høyden til logoen*/
    width: auto; /*Setter bredden til å være auto, slik at den tilpasser seg høyden*/
}
.NavElementer{
    display:flex; /*Benytter flexbok for å legge elementene på en horisontal linje*/
    width: 75%; /*Setter bredden til 75% av siden*/
    justify-content: space-between;/*Plasserer elementene med lik avstand mellom seg*/
}
.NavElementer a{
    color: black; /*Farge på teksten i hvert element*/
}
.navbar a:hover{
    color: #555; /*Benytter andre farger når man hovrer over linker for å øke kontrasten*/
    background-color: rgba(255, 255, 255, 0.3); /* samme gjelder her for å øke kontrasten*/ 
}
.navbar .logo:hover{ 
    background-color: transparent; /*Unngår å få bakgrunnsfargre når man hovrer over logo*/
}
/*Fjerner mobil-visning av navbar*/
.mobil-nav{
    display: none; 
    flex-direction: column;
}
/*Fjerner hamburger-ikon på navbar ved stor-skjerm-oppløsning*/
.fa-bars{
    display: none;
    visibility: hidden;
}
/*CSS FOR NAVBAR SLUTT*/

/*Dark Mode*/
.dark-mode-container{
    position:absolute;
    right: 0;
}
.dark-mode{
    background-color: #504e4e; /*Mørk bakgrunnsfarge*/
    color: white; /*Lys tekstfarge*/
}

.dark-mode .kantineItem a{
    color: white;
}

#dark-mode-toggle{
    background-color: #333; /*Bakgrunnsfarge*/
    color: white; /* Tekstfarge */ 
    border: 1px solid #333; /* Ramme, tykkelse, type og farge */
    padding: 10px 20px; /* Innvendig marg venstre og topp*/
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; 
}
#dark-mode-toggle:hover{
    background-color: #00f; /* Endrer bakgrunnsfarge ved hover */ 
    color: #fff; /*Endrer tekstfarge ved hover*/ 
    box-shadow: 0 0 10px #00f; /*Legger til skygge ved hover */ 
}
/*Rød prikk (standard når dark-mode er av*/
.red-dot{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%; /* Gjør prikken siruklær */
    display: inline-block;
    margin-right: 5px; /*Avstand fra teksten */
}
/*Grønn prikk når dark-mode er på*/
.green-dot{
    background-color: green;
}


/*CSS FOR MAIN START*/
.kantineIntro{
    text-align: center; /* Spesifiserer hvor tektsen skal plasseres innad i elementet*/
    margin: 5%;/* Definerer plass utenfor elementes grense */
    padding: 50px;/* Gir større plass rundt innholdet i elementet*/
    overflow-wrap: break-word;
}

.filter{
    text-align: center;
}
.filter-option{
    padding: 10px;
    width: 200px;
}
.filter-option:hover{
    background-color: #ccc;
}

.hidden{
    display: none;
}
.myBtnContainer{
    button[data-filter="veg"]:focus ~ div:not([class*="veg"]) {
      display:none;
    }
    
    button[data-filter="studRab"]:focus ~ div:not([class*="studRab"]) {
      display:none;
    }
  }

.kantineContainer{
    display: grid;/* Setter innholdet i et rutenettsystem */
    place-items: center; /*Sentrerer selve gridden på nettsiden*/
    grid-template-columns: 1fr 1fr; /* Tillater å plassere 3 elementer i 1fr-størrelse horisontalt */
    grid-gap: 25px 10px;/* Gir oss mer space mellom hvert grid-elemtnt (top, right) */
    padding: 10px;/* Gir større plass rundt innholdet innad i grid-elementet */
    overflow: hidden;
    margin: 5%;
} 
  
.kantineBilder{
    width: 400px;/* Setter bredde 300px på bildene*/
    height: auto;/* Setter høyde 220px på bildene*/
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    max-width: 400px;
    max-height: 250px;
}

.kantineItem{
    text-align: center;/* Spesifiserer posisjonering horisontalt av tekst innad i grid-elementet*/
    box-shadow: 0px 5px 5px 0px grey;
    border-radius: 30px;/* Definerer kant rundt innholdet - danner en boks*/
    width: 400px; /* Tillater elementet å kunne ta 100% bredde  */
    line-height: 60px; /* Setter distanse mellom linjer med tekst*/
    text-align: center;
    box-shadow: grey;
}

.kantineItem:hover{
    box-shadow: 2px 2px 2px 1px;
}

#pin{
    width: 20px; /* Definerer bredde på location-pin elementene */
    height: 20px;/* Definerer høyde på location-pin elementene */
}
/*FOOTER START*/
.grid-footer-container{
    display: grid; /*Oppretter grid*/
    background-color: #ffdb01; /*Endrer bakgrunnsfarge på footer*/
    grid-template-columns: 1fr 1fr 1fr; /*Deler grid-containeren inn i 3 kolonner som er like store*/
    padding: 15px; /*Øker padding for mer mellomrom*/
    font-size: 20px; /*Øker skriftstørrelse -> lettere å lese*/
    padding-top: 100px; /*Øker padding på toppen for å få mer mellomrom*/
    padding-bottom: 100px; /*Øker padding på bunnen for å få mer mellomrom*/
}
/*Style til tilbakemeldingsboksen*/
.tilbakemelding-textarea{
    width: 75%; /*Gir tekstområdet 75% bredde av grid-området*/
    padding: 10px; /*Legger til noe padding inne i tekstområdet*/
    margin-bottom: 10px; /*Legger til noe margin under tekstområdet*/
    border: 1px solid #ddd; /*Setter en grense rundt tekstområdet, grensen er solid, og har endret farge*/
    border-radius: 5px; /*Gjør hjørnene på tekstområdet til litt rundere*/
    font-size: 14px; /*endrer skriftstørrelse inne i boksen*/
}
.tilbakemelding-knapp{
    width: 30%; /*Gir knappen 30% bredde av grid-området*/
    padding: 10px; /*legger noe padding inne i knappen*/
    background-color: #007BFF; /*endrer bakgrunnsfarge på knappen*/
    color: white; /*Setter tekstfarge til knappen*/
    border: none; /*Fjerner grensen rundt knappen*/
    border-radius: 5px; /*Gjør hjørnene til knappen noe rundere*/
    font-size: 20px; /*Endrer til skriftstørrelse på knappen*/
}
/*Endrer effekter til knappen når musen er over den*/
.tilbakemelding-knapp:hover{
    background-color: #0056b3; /*Bytter bakgrunnsfarge*/
    cursor: pointer; /*Endrer musepeker til hånd*/
}

/*Style til linker til sosiale medier*/
.grid-footer-some{
    display: grid; /*Oppretter grid*/
    grid-template-columns: 1fr; /*Setter 1 kolonne*/
}
.inline-footer-some .fa{
    color: black;/*Endrer farge på symboler og tekst*/
}
.grid-footer-some .inline-footer-some{
    margin-bottom: 10px; /*Legger til margin på bunnen for å øke mellomrom*/
}
/*Endrer effekter til knappen når musen er over den*/
.fa:hover{
    text-decoration: underline; /*Teksten for underlinje*/
    color: rgb(255, 255, 255); /*Endrer farge på tekst*/
    background-color: rgba(0, 0, 0, 0.47); /*Endrer bakgrunnsfarge*/
    border-radius: 4px; /*Gjør hjørnene noe rundere*/
}
/*FOOTER SLUTT*/

/*Media Query START*/
/*Responsiv design*/

/*Mobil 320-500px*/


/*Nettbrett stående 320-768*/
@media (max-width:1024px){
    .kantineContainer{
        grid-template-columns: 1fr 1fr;
    }
}


/*Nettbrett liggende 769-1024*/
@media (max-width: 1024px) {
    /*Endring av NAVBAR START*/
    /*Viser hamburger-ikonet for mindre skjermer*/
    .fa-bars{
        display: inline-block; 
        visibility: visible;
    }
    /*Gjemmer standard navigasjonselementer for små skjermer*/
    .NavElementer{
        display: none; 
    }
    /*Viser navbar for liten skjerm når den er aktiv*/
    .mobil-nav.active{
        display: flex; 
    }
    /*Generelle stiler for navbaren for mindre skjermer*/
    .mobil-nav{
        position: absolute; /*Plassert i forhold til nærmeste posisjonerte forfader*/
        top: 100%; /* Plassert rett nedenfor navbaren*/
        left: 0%; /*Starter fra venstre side*/
        width: 100%; /*Bredde settes til 100%*/
        background-color: #ffdb01; /*for synlighet*/
        align-items: center; /*Plasserer elementene i mobil-nav i midten*/
    }
    /* Spesifikke stiler for lenker inni mobil navigasjon*/
    .mobil-nav .grid-meny-mobil a{
        color: black; /*Tekstfarge endres til svart*/ 
        row-gap: 20px;
    }
    /*Setter opp grid-layout for mobilmenyen*/
    .grid-meny-mobil{
        display: flex; /*Benytter flex-layout*/
        flex-direction: column; /*Legger den i kolonne og rader, fremfor horisontalt*/
        row-gap: 40px; /*Mellomrom mellom grid-bokser*/
        text-align: center; /*Setter teksten i midten*/
        margin-top: 20px;/*Lager mellomrom fra navbar*/
        font-size: 30px;
    }
    .grid-meny-mobil a:hover{
        font-size: 32px;
    }
   
    /*Stil for lukk-knapp i mobil navigasjon*/
    #lukkMeny{
        margin: 30px; /*Plasserer en marg rundt knappen*/
        padding: 10px; /*Padding rundt knappens tekst for å gjøre den mer synlig og lettere å trykke på*/
        font-size: 20px;
    }
    #lukkMeny:hover{
        background-color: rgba(255, 255, 255, 0.3); /*For å øke kontrasten når man hovrer*/ ;
    }
/*NAVBAR SLUTT*/
}

/*Liten skjerm 1025-1999*/
@media (max-width: 1999px){
}

/*Desktop 1200px -> er grunninnstilling*/

/*Media Query SLUTT*/

